<div id="<%= dom_id pet %>">
  <p>
    <strong>Name:</strong>
    <%= link_to pet.name, pet %>
  </p>

  <p>
    <strong>Kind:</strong>
    <%= pet.kind %>
  </p>

  <p>
    <strong>Breed:</strong>
    <%= link_to pet.breed, breeds_show_path(name: pet.breed) %>
  </p>

  <p>
    <strong>Weight:</strong>
    <%= pet.weight %>
  </p>

</div>
